<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Привет! Поздравляю тебя с первым твоим проектом и спасибо, что вовремя сдал задание:) Ты проделал большую работу. Далее в файле мои коммефнтарии ты сможешь найти в ячейках, аналогичных данной ( если рамки комментария зелёные - всё сделано правильно; жёлтые - есть замечания, но не критично; красные - нужно переделать). Не удаляй эти комментарии и постарайся учесть их в ходе выполнения проекта.

### PS: я заранее прошу прощения, что пошел не по подготовленной заранее в документе структуре. В последствии я попытался вернуться в подготволенную структуру. Еще раз приношу свои извинения, если это будет критично, то я, конечно, переделаю. Спасибо!

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Спасибо за предупреждение, сейчас посмотрим)

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd
df = pd.read_csv('/Users/maksim_kirichenko/Desktop/Python3/my_env/praktikum/1 проект/data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Файл имеет 12 столбцов и 21 525 строк.
В столбцах days_employed и total_income имеются пропущенные значения.

Описание данных

children — количество детей в семье
days_employed — общий трудовой стаж в днях
dob_years — возраст клиента в годах
education — уровень образования клиента
education_id — идентификатор уровня образования
family_status — семейное положение
family_status_id — идентификатор семейного положения
gender — пол клиента
income_type — тип занятости
debt — имел ли задолженность по возврату кредитов
total_income — ежемесячный доход
purpose — цель получения кредита

Проверим, чтобы в названии стобцов не было лишних пробелов.

In [2]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

Выведем первые 10 строк таблицы для ознакомления.

In [3]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

Наблюдения по столбцам:
- days_employed (думаю, что на данном этапе можно не трогать, так как эти данные не понадобятся)
    - данные имеют отрицательные значения;
    - Также данные имеют тип float, можно перевести в целые значения;
- education
    - значения написаны в разном регистре, необходимо привести к одному (нижнему);
- gender
    - для удобства переведем значния в нижний регистр;

Посмотрим уникальные значения столбцов, чтобы оценить на наличие ошибок, которые могли быть не замечены в выводе 10 строк выше:

In [4]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

Замечены 2 значения, которые стоит подвергнуть сомнения:
1. "-1" - отрицательное значение. 
Возможно сотрудници банка при заполнении анкеты (или автоматика при считывании) допустили ошибку. Скорее всего у этих клиентов всего 1 ребенок.

Доля строк с таким значение составляет всего 0,21%

Удаление этого значения не должно критично повлиять на результаты исследования.
Предлагаю все же не удалять, а заменить значение "-1" на значение "1"

In [5]:
df['children'] = df['children'].replace(-1, 1)
df['children'].value_counts()

0     14149
1      4865
2      2055
3       330
20       76
4        41
5         9
Name: children, dtype: int64

2. Смущает значение "20"
Значение 20 явно ошибочное, так как идет очень резкий скачек после значения 5. 
Доля клиентов с таким значением составляет всего 0,34% 
Операции с таким значением не должны оказать сильного влияния на результаты исследования.
Считаю, что, скорее всего, у этих клиентов всего 2 ребенка.
Предлагаю заменить значение 20 на 2.

In [6]:
df['children'] = df['children'].replace(20, 2)
df['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

Посмотрим пропущенные значения в столбце days_employed

Всего пропущенных значений 2 174, что составляет порядка 10% всех данных.

Заменим пропущенные значение на "0"

In [7]:
df['days_employed'] = df['days_employed'].fillna(0)
df.isnull().sum()

children               0
days_employed          0
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Избавимся от отрицательных значений

In [8]:
df['days_employed'] = df['days_employed'].abs()
df['days_employed'].head(10)

0      8437.673028
1      4024.803754
2      5623.422610
3      4124.747207
4    340266.072047
5       926.185831
6      2879.202052
7       152.779569
8      6929.865299
9      2188.756445
Name: days_employed, dtype: float64

Приведем к целым числам

In [9]:
df['days_employed'] = df['days_employed'].astype('int')
df['days_employed'].head(10)

0      8437
1      4024
2      5623
3      4124
4    340266
5       926
6      2879
7       152
8      6929
9      2188
Name: days_employed, dtype: int64

Также заменим пропуски в столбце total_income

Проверим нет ли ошибок в значении столбца dob_years

In [10]:
df['dob_years'].value_counts().sort_index(ascending=True)

0     101
19     14
20     51
21    111
22    183
23    254
24    264
25    357
26    408
27    493
28    503
29    545
30    540
31    560
32    510
33    581
34    603
35    617
36    555
37    537
38    598
39    573
40    609
41    607
42    597
43    513
44    547
45    497
46    475
47    480
48    538
49    508
50    514
51    448
52    484
53    459
54    479
55    443
56    487
57    460
58    461
59    444
60    377
61    355
62    352
63    269
64    265
65    194
66    183
67    167
68     99
69     85
70     65
71     58
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

При визуальной оценке видно, что у некоторых клиентов не указан возраст. Их доля составляет 0,5% 
Доля небольшая, для ответа на поставленную задачу не критична и не требуется. Предалагаю оставить так.

Далее посмотрим уникальные значения столбца education

In [11]:
df['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

Приведем все значения к нижнему регистру

In [12]:
df['education'] = df['education'].str.lower()
df['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

In [13]:
df['education_id'].value_counts()

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

In [14]:
df['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

Посмотрим какой 'education_id' соответствует какому уровню образования, для этого создадим словарь

In [15]:
education_dict = df[['education', 'education_id']]
education_dict = education_dict.drop_duplicates().reset_index(drop=True)
education_dict

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [16]:
df['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

Для порядка приведем все к нижнему регистру

In [17]:
df['family_status'] = df['family_status'].str.lower()
df['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

Посмотрим какой 'family_status_id' соответствует какому статусу, для этого создадим словарь

In [18]:
family_status_dict = df[['family_status', 'family_status_id']]
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)
family_status_dict

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  не женат / не замужем                 4

In [19]:
df['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

Обнаружено напонятное значение "XNA", выведем строку с этим значением для ознакомления

In [20]:
df[df['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10701,0,2358,24,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905.157261,покупка недвижимости

Всего одна строка, предалагаю заменить значение на одно из имебщихся

In [21]:
df['gender'] = df['gender'].replace('XNA', 'M')
df['gender'].value_counts()

F    14236
M     7289
Name: gender, dtype: int64

In [22]:
df['gender'] = df['gender'].str.lower()
df['gender'].value_counts()

f    14236
m     7289
Name: gender, dtype: int64

Значение XNA заменено на M.

Посмотрим значение столбца income_type

In [23]:
df['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
предприниматель        2
безработный            2
студент                1
в декрете              1
Name: income_type, dtype: int64

Со значениями в данном столбце все в порядке.

Проверим значения столбца debt

In [24]:
df['debt'].value_counts()

0    19784
1     1741
Name: debt, dtype: int64

Со значениями столбца debt все в порядке, лишних значений нет.

Посмотрим значения столбца total_income , проверим, чтобы не было отрицателных значений

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Молодец, что провёл первичный анализ полученных данных, это всегда быстро помогает понять с чем предстоит работать, по выводам нареканий нет - всё верно и точно
</div>

### Шаг 2. Предобработка данных

### Обработка пропусков

In [25]:
df.isnull().sum()

children               0
days_employed          0
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В столбце "total_income" есть пропущенные значения.

Посмотрим медианные значения для каждой из групп.

In [26]:
median_income_type = df.groupby('income_type')['total_income'].median()
median_income_type

income_type
безработный        131339.751676
в декрете           53829.130729
госслужащий        150447.935283
компаньон          172357.950966
пенсионер          118514.486412
предприниматель    499163.144947
сотрудник          142594.396847
студент             98201.625314
Name: total_income, dtype: float64

Смущает, что безработнуе довольно прилично получают, живут лучше, чем пенсионеры;
Заменим пропущенные значения для каждой из групп медианными значениями для этой группы.

In [27]:
df['total_income'] = df.groupby('income_type')['total_income'].transform(lambda x: x.fillna(x.median()))
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [28]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875.639453,покупка жилья
1,1,4024,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885.952297,покупка жилья
3,3,4124,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628.550329,дополнительное образование
4,0,340266,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926,27,высшее,0,гражданский брак,1,m,компаньон,0,255763.565419,покупка жилья
6,0,2879,43,высшее,0,женат / замужем,0,f,компаньон,0,240525.971920,операции с жильем
7,0,152,50,среднее,1,женат / замужем,0,m,сотрудник,0,135823.934197,образование
8,2,6929,35,высшее,0,гражданский брак,1,f,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,m,сотрудник,0,144425.938277,покупка жилья для семьи

Проверим столбец "purpose" на уникальные значения, чтобы избежать дубликатов.

In [29]:
df['purpose'].value_counts().sort_index()

автомобили                                478
автомобиль                                495
высшее образование                        453
дополнительное образование                462
жилье                                     647
заняться высшим образованием              496
заняться образованием                     412
на покупку автомобиля                     472
на покупку подержанного автомобиля        479
на покупку своего автомобиля              505
на проведение свадьбы                     777
недвижимость                              634
образование                               447
операции с жильем                         653
операции с коммерческой недвижимостью     651
операции с недвижимостью                  676
операции со своей недвижимостью           630
покупка жилой недвижимости                607
покупка жилья                             647
покупка жилья для сдачи                   653
покупка жилья для семьи                   641
покупка коммерческой недвижимости         664
покупка недвижимости                      624
покупка своего жилья                      620
получение высшего образования             426
получение дополнительного образования     447
получение образования                     443
приобретение автомобиля                   462
профильное образование                    436
ремонт жилью                              612
свадьба                                   797
свой автомобиль                           480
сделка с автомобилем                      455
сделка с подержанным автомобилем          489
строительство жилой недвижимости          626
строительство недвижимости                620
строительство собственной недвижимости    635
сыграть свадьбу                           774
Name: purpose, dtype: int64

Видно, что есть много дублей. Исправим это позже в разделе "Лемматизация"

### Вывод

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Пропуски заполнены, молодец)

### Замена типа данных

Выведем тип данных в столбце "total_income"

In [30]:
df['total_income'].dtypes

dtype('float64')

Переведем в целочисленный тип данных

In [31]:
df['total_income'] = df['total_income'].astype('int')
df['total_income'].dtypes

dtype('int64')

In [32]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья
1,1,4024,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля
2,0,5623,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья
3,3,4124,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628,дополнительное образование
4,0,340266,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616,сыграть свадьбу
5,0,926,27,высшее,0,гражданский брак,1,m,компаньон,0,255763,покупка жилья
6,0,2879,43,высшее,0,женат / замужем,0,f,компаньон,0,240525,операции с жильем
7,0,152,50,среднее,1,женат / замужем,0,m,сотрудник,0,135823,образование
8,2,6929,35,высшее,0,гражданский брак,1,f,сотрудник,0,95856,на проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,m,сотрудник,0,144425,покупка жилья для семьи

### Вывод

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Замена типа данных выполнена верно

### Обработка дубликатов

Проверим датафрейм на наличие дубликатов

In [33]:
df.duplicated().sum()

71

Обнаружен 71 полный дубликат. Избавимся от них методом drop_duplicates

In [34]:
df = df.drop_duplicates().reset_index(drop=True)

In [35]:
df.duplicated().sum()

0

Проверка показала, что полных дубликатов не осталось.

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Дубликаты найдены и обработаны верно,отлично

### Лемматизация

In [36]:
from pymystem3 import Mystem
m = Mystem()
def lemmatization(i):
    lemmas = m.lemmatize(i)
    return lemmas
df['purpose_lemmas'] = df['purpose'].apply(lemmatization)

In [37]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lemmas
0,1,8437,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья,"[покупка, , жилье, \n]"
1,1,4024,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля,"[приобретение, , автомобиль, \n]"
2,0,5623,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья,"[покупка, , жилье, \n]"
3,3,4124,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628,дополнительное образование,"[дополнительный, , образование, \n]"
4,0,340266,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616,сыграть свадьбу,"[сыграть, , свадьба, \n]"

In [38]:
all_lemmas = []
for i in df['purpose_lemmas']:
    all_lemmas += i

all_lemmas

['покупка',
 ' ',
 'жилье',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'жилье',
 '\n',
 'образование',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'семья',
 '\n',
 'покупка',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'недвижимость',
 '\n',
 'строительство',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'подержать',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'недвижимость',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'подержать',
 ' ',
 'автомобиль',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'недвижимость',
 '\n',
 'образование',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'строительство',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'жилье',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'операция',
 ' ',
 'со',
 ' ',
 'свой',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'автомобиль',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'образование',
 '\n',
 'заниматься',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'недвижимость',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'получение',
 ' ',
 'образование',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'заниматься',
 ' ',
 'образование',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'автомобиль',
 '\n',
 'автомобиль',
 '\n',
 'свадьба',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'автомобиль',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'образование',
 '\n',
 'образование',
 '\n',
 'недвижимость',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'недвижимость',
 '\n',
 'заниматься',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'недвижимость',
 '\n',
 'получение',
 ' ',
 'высокий',
 ' ',
 'образование',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'жилье',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'заниматься',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'семья',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'покупка',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'заниматься',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'семья',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'подержать',
 ' ',
 'автомобиль',
 '\n',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'автомобиль',
 '\n',
 'автомобиль',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'автомобиль',
 '\n',
 'профильный',
 ' ',
 'образование',
 '\n',
 'жилье',
 '\n',
 'жилье',
 '\n',
 'операция',
 ' ',
 'со',
 ' ',
 'свой',
 ' ',
 'недвижимость',
 '\n',
 'высокий',
 ' ',
 'образование',
 '\n',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'жилье',
 '\n',
 'покупка',
 ' ',
 'недвижимость',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'профильный',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'подержать',
 ' ',
 'автомобиль',
 '\n',
 'строительство',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'образование',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'недвижимость',
 '\n',
 'недвижимость',
 '\n',
 'образование',
 '\n',
 'операция',
 ' ',
 'со',
 ' ',
 'свой',
 ' ',
 'недвижимость',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'высокий',
 ' ',
 'образование',
 '\n',
 'автомобиль',
 '\n',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'свадьба',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'строительство',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'автомобиль',
 '\n',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'со',
 ' ',
 'свой',
 ' ',
 'недвижимость',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'автомобиль',
 '\n',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилой',
 ' ',
 'недвижимость',
 '\n',
 'жилье',
 '\n',
 'операция',
 ' ',
 'со',
 ' ',
 'свой',
 ' ',
 'недвижимость',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'ремонт',
 ' ',
 'жилье',
 '\n',
 'покупка',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'свадьба',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'строительство',
 ' ',
 'собственный',
 ' ',
 'недвижимость',
 '\n',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'строительство',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'недвижимость',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'жилье',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'жилье',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'автомобиль',
 '\n',
 'образование',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'ремонт',
 ' ',
 'жилье',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'жилье',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'жилье',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'жилье',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'строительство',
 ' ',
 'недвижимость',
 '\n',
 'покупка',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'строительство',
 ' ',
 'недвижимость',
 '\n',
 'заниматься',
 ' ',
 'высокий',
 ' ',
 'образование',
 '\n',
 'сделка',
 ' ',
 'с',
 ' ',
 'подержанный',
 ' ',
 'автомобиль',
 '\n',
 'приобретение',
 ' ',
 'автомобиль',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'сыграть',
 ' ',
 'свадьба',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'семья',
 '\n',
 'свадьба',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'жилье',
 ' ',
 'для',
 ' ',
 'сдача',
 '\n',
 'получение',
 ' ',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'операция',
 ' ',
 'с',
 ' ',
 'коммерческий',
 ' ',
 'недвижимость',
 '\n',
 'высокий',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'проведение',
 ' ',
 'свадьба',
 '\n',
 'высокий',
 ' ',
 'образование',
 '\n',
 'свой',
 ' ',
 'автомобиль',
 '\n',
 'на',
 ' ',
 'покупка',
 ' ',
 'подержать',
 ' ',
 'автомобиль',
 '\n',
 'получение',
 ' ',
 'образование',
 '\n',
 'дополнительный',
 ' ',
 'образование',
 '\n',
 'покупка',
 ' ',
 'свой',
 ' ',
 'жилье',
 '\n',
 ...]

In [39]:
from collections import Counter
print(Counter(all_lemmas))

Counter({' ': 33570, '\n': 21454, 'недвижимость': 6351, 'покупка': 5897, 'жилье': 4460, 'автомобиль': 4306, 'образование': 4013, 'с': 2918, 'операция': 2604, 'свадьба': 2324, 'свой': 2230, 'на': 2222, 'строительство': 1878, 'высокий': 1374, 'получение': 1314, 'коммерческий': 1311, 'для': 1289, 'жилой': 1230, 'сделка': 941, 'дополнительный': 906, 'заниматься': 904, 'проведение': 768, 'сыграть': 765, 'сдача': 651, 'семья': 638, 'собственный': 635, 'со': 627, 'ремонт': 607, 'подержанный': 486, 'подержать': 478, 'приобретение': 461, 'профильный': 436})

### Вывод

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>


Лемматизация проведена верно

### Категоризация данных

In [40]:
def purpose_type(purpose_lemmas):    
    if 'недвижимость'in purpose_lemmas:
        return 'недвижимость'
    if 'жилье'in purpose_lemmas:
        return 'недвижимость'
    if 'автомобиль'in purpose_lemmas:
        return 'автомобиль'
    if 'образование'in purpose_lemmas:
        return 'образование'
    if 'свадьба'in purpose_lemmas:
        return 'свадьба'
    else:
        return 'прочее'
df['purpose_type'] = df['purpose_lemmas'].apply(purpose_type)

df['purpose_type'].value_counts()

недвижимость    10811
автомобиль       4306
образование      4013
свадьба          2324
Name: purpose_type, dtype: int64

In [41]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lemmas,purpose_type
0,1,8437,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья,"[покупка, , жилье, \n]",недвижимость
1,1,4024,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля,"[приобретение, , автомобиль, \n]",автомобиль
2,0,5623,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья,"[покупка, , жилье, \n]",недвижимость
3,3,4124,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628,дополнительное образование,"[дополнительный, , образование, \n]",образование
4,0,340266,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616,сыграть свадьбу,"[сыграть, , свадьба, \n]",свадьба

In [42]:
def income_rate(total_income):
    if total_income <= 50000:
        return '0 - 50к'
    if total_income <= 100000:
        return '50 - 100к'
    if total_income <= 200000:
        return '100 - 200к'
    else:
        return '> 200к'
df['income_rate'] = df['total_income'].apply(income_rate)

df['income_rate'].value_counts()

100 - 200к    11924
> 200к         5067
50 - 100к      4091
0 - 50к         372
Name: income_rate, dtype: int64

In [43]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lemmas,purpose_type,income_rate
0,1,8437,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья,"[покупка, , жилье, \n]",недвижимость,> 200к
1,1,4024,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля,"[приобретение, , автомобиль, \n]",автомобиль,100 - 200к
2,0,5623,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья,"[покупка, , жилье, \n]",недвижимость,100 - 200к
3,3,4124,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628,дополнительное образование,"[дополнительный, , образование, \n]",образование,> 200к
4,0,340266,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616,сыграть свадьбу,"[сыграть, , свадьба, \n]",свадьба,100 - 200к
5,0,926,27,высшее,0,гражданский брак,1,m,компаньон,0,255763,покупка жилья,"[покупка, , жилье, \n]",недвижимость,> 200к
6,0,2879,43,высшее,0,женат / замужем,0,f,компаньон,0,240525,операции с жильем,"[операция, , с, , жилье, \n]",недвижимость,> 200к
7,0,152,50,среднее,1,женат / замужем,0,m,сотрудник,0,135823,образование,"[образование, \n]",образование,100 - 200к
8,2,6929,35,высшее,0,гражданский брак,1,f,сотрудник,0,95856,на проведение свадьбы,"[на, , проведение, , свадьба, \n]",свадьба,50 - 100к
9,0,2188,41,среднее,1,женат / замужем,0,m,сотрудник,0,144425,покупка жилья для семьи,"[покупка, , жилье, , для, , семья, \n]",недвижимость,100 - 200к

### Вывод

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Категоризация проведена верно, только не забывай писать выводы после каждого шага

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [44]:
df.groupby('children')['debt'].agg(['count','mean']).sort_values('mean',ascending=False).style.format({
    'mean': '{:,.1%}'.format,
})

### Вывод

Самые надежные заемщики те, у кого 5 детей, но их всего 9. У заемщиков без детей также меньше просрочек по кредитам.
Заемщики с 3 детьми менее надежны, чем заемщики без детей.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [45]:
df.groupby('family_status')['debt'].agg(['count','mean']).sort_values('mean',ascending=False).style.format({
    'mean': '{:,.1%}'.format,
})

### Вывод

Больше всего просрочек у неженатых (незумужних), а также у проживающих гражданским браком.
Самые надежные заемщики - вдовец / вдова

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [46]:
df.groupby('income_rate')['debt'].agg(['count','mean']).sort_values('mean',ascending=False).style.format({
    'mean': '{:,.1%}'.format
})

### Вывод

Задолженность появляется чаще всего у заемщиков с уровнем дохода от 50 до 200 тыс. рублей. Самыми надежными заемщиками являются люди с уровнем дохода до 50 тыс. рублей, чуть менее надежные - свыше 200 тыс. руб.

- Как разные цели кредита влияют на его возврат в срок?

In [47]:
df.groupby('purpose_type')['debt'].agg(['count','mean']).sort_values('mean',ascending=False).style.format({
    'mean': '{:,.1%}'.format
})

### Вывод

Те, кто береи займ на приобретение недвижимости обычно возвращают кредит чаще остальных. Самые ненадежные заемщики те, кто берет на автомобиль и на образование.

<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Комментарий наставника</h1>

Всё верно и точно сделано, как выводы, так и код написаны правильно

### Шаг 4. Общий вывод

Люди с низким доходом чаще возвращают кредит вовремя, чем люди со средним доходом. Те, кто береи займ на приобретение недвижимости обычно возвращают кредит чаще остальных. Самые надежные заемщики - вдовец / вдова . У заемщиков без детей также меньше просрочек по кредитам.

<div style="border:solid  orange  2px; padding: 20px"> <h1 style="color: orange ; margin-bottom:20px">Комментарий наставника</h1>

Обязательно надо писать подробный вывод из проведённого анализа, в котором отразить все полученные результаты + дать советы по использованию данного анализа

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.

<div style="border:solid  green  2px; padding: 20px"> <h1 style="color: green ; margin-bottom:20px">Комментарий наставника</h1>

#### Код

Всё отлично. Из того, что очень порадовало - код написан аккуратно, используются комментарии к коду, быстро можно понять, какие операции выполняют сложные конструкции. В качестве совета предлагаю глубже изучить и начать чаще применять конструкцию try-except в решении задачи — это улучшит отказоустойчивость кода и обезопасит код от поломок в будущем, а так же изучить средства для построения изображений в Python для более глубокого понимания данных.
#### Выводы

У тебя отлично получается анализировать сложные данные, выдвигать корректные гипотезы и проверять свои выводы на возможность соответствия реальности. Видно глубокое понимание сути проведённого анализа. Было очень интересно проверять твой проект и следить за твоей мыслью, так держать!)

<div style="border:solid  green  2px; padding: 20px"> <h1 style="color: green ; margin-bottom:20px">Комментарий наставника</h1>
Работа принята!) Очень рад, что у тебя всё получилось и надеюсь тебе понравится весь курс, будь усерден и у тебя всё получится! Удачи в будущих проектах)